.container{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 30rem;
    height: auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, .3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.container:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 25px hsla(0, 0%, 0%, .50);
}

.profile{
    padding-left: 2rem; 
}

.descriptionTitle,
.techsTitle,
.expTitle{
    font-weight: bold;
    font-size: 1.2rem;
}

.desc,
.exp,
.techs{
    padding-left: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 300;
}
